
.container {
  margin: 40px 0;
}

.container > h1 {
  font-size: 2em;
}

section h1 {
  font-size: 2em;
}

section.content > h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

nav {
  margin-bottom: 15px;
}

nav a.button {
  margin-right: 10px;
  /* small buttons */
  font-size: .9rem;
	height: 2.8rem;
	line-height: 2.8rem;
	padding: 0 1.5rem;
}
