.s10 { height: 10px; }
.s20 { height: 20px; }
.s30 { height: 30px; }
.s40 { height: 40px; }
.s50 { height: 50px; }

.hs10 { margin-left: 10px; }
.hs20 { margin-left: 20px; }
.hs30 { margin-left: 30px; }
.hs40 { margin-left: 40px; }
.hs50 { margin-left: 50px; }
